<div class="container-bigcard">
  <img
    class="card-image"
    src="../../../assets/placeholder_view_vector.svg"
    alt="post-image"
  />
  <div class="card-info">
    <p class="date-text">23/10/2023</p>
    <h2 class="card-title">Top 10 artistas famosos dos anos 2000</h2>
    <p class="card-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar
      dictum massa, eget sagittis lectus malesuada nec. Proin elementum eros nec
      sagittis convallis. Mauris quis sem tortor. Aenean vel quam ac velit
      semper vestibulum ac ac leo.
    </p>
  </div>
</div>
